*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}
h1{
    padding: 1rem;
}
.dg.a{
    padding: 0.1rem 0px;
}
.dg.main .close-button.close-bottom {
    display: none;
}

/* .webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
} */
