*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}
h1{
    padding: 0.5rem;
    border:3px solid;
    border-image:linear-gradient(to right,red,purple);
    border-radius: 5rem;
    border-image-slice: 1;
    margin: 2rem 0.5rem 1rem;

}
.dg.a{
    padding: 0.1rem 0px;
}
.dg.main .close-button.close-bottom {
    display: none;
}

/* .webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
} */
